a{
    text-decoration: none;
    color: white;
}


/* navbar started */
.logo{
    width: 165px;
    margin-left: -70px;
}
.nav-text{
    font-size: 15px;
    font-weight: 300;
   
}
.franchise{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 17px 15px;
    border-radius: 25px;
    margin-right: -15px;
}
.order-btn{
    background-color: #ed1c24;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    margin-right: -50px;
}
.arrow-icon{
    color: #ed1c24;
    background-color: #ffffff;
    padding: 5px 5px;
    border-radius: 20px;
    margin-left: 5px;
}
/* navbar ended */

/* section 2 started */
.container-img{
    width: 100%;
}
/* section 2 ended */
 /* section 3 started  */
.heading{
        margin-top: 45px;
        font-size: 3.5rem;
        font-weight: 300;
}
p{
    font-size: 1.5rem;
}
.i{
    background-color: #ffffff;
    margin-top: 30px;
    padding: 23px 5px;
}
.odr-btn{
    background-color: transparent;
    color: #ffffff;
    border: 0.1px solid #ffffff;
    border-radius: 40px;
    padding: 15px 43px;
    margin: 0px 69px;
   margin-top: 25px;
}
/* section 3 ended */
/* Restaurant Franchise section started */
.heading2{

    font-size:4.5rem;
    margin-top: 250px;
}
.city-name{
    margin: 80px;
}
.franchise1{
    margin-top: 5px;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 15px;
}
.location-icon{
     background-color: transparent;
    color: #ffffff;
    border: none;
    margin: 5px;
}
.phone-icon{
    background-color: transparent;
    color: #ffffff;
    border: none;
    margin: 5px;
}
.direction{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 13px 25px;
    border-radius: 40px;
    margin-top: 40px;
}
.f-image{
    margin-left: 630px;
    margin-top: -500px ;
}
.f2-image{
    margin-left: 60px;
    margin-top: 50px;
}
.city2{
    margin-left: 650px;
    margin-top: -305px;
}
.franchise2{
    margin-top: 5px;
    font-size: 3rem;
    font-weight: 300;
}
.location-icon2{
    background-color: transparent;
    color: #ffffff;
    border: none;
    margin-top: 25px;
    margin-right: 5px;   
}
.phone-icon2{
    background-color: transparent;
    color: #ffffff;
    border: none;
    margin-top: 8px;
    margin-right: 5px;
}
.city3{
    margin-top:120px;
    margin-left: 70px;
}
.franchise3{
    font-size: 3rem;
    font-weight: 300;
    margin-top: 5px;
}
.f3-image{
   margin-top: -250px;
   margin-left: 630px;  
}
/* Restaurant Franchise section ended */
/* Express Franchises started */
.heading3{
    margin-top: 130px;
    font-size: 4.5rem;
}
.icon{
     background-color: transparent;
     color: #ffffff;
     border: none;
}
.font{
    font-size: 2.5rem;
    font-weight: 300;
}
/* Express Franchise ended */