*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    height: 8000px;
}

/* utility classes */


/* flex classes started */

.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.gap-1{
    gap: 5px;
}
.gap-2
{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.gap-5{
    gap: 30px;
}
.gap-6{
    gap:40px;
}
.gap-7{
    gap: 50px;
}
.gap-8{
    gap: 60px;
}
.gap-9{
    gap: 70px;
}
.gap-10{
    gap: 80px;
}
.d-inline{
    display: inline-block;
}
.d-block{
    display: block;
}
/* flex classes ended */

/* margin classes started */
.m1{
    margin: 5px;
}
.m2{
    margin: 10px;
}
.m3{
    margin: 15px;
}
.m4{
    margin: 20px;
}
.m5{
    margin: 25px;
}

.mt1{
    margin-top: 5px;
}
.mt2{
    margin-top: 10px;
}
.mt3{
    margin-top: 15px;
}
.mt4{
    margin-top: 20px;
}
.mt5{
    margin-top: 25px;
}
.mt6{
    margin-top: 30px;
}
.mt7{
    margin-top: 35px;
}
.mt8{
    margin-top: 40px;
}
.mt9{
    margin-top: 50px;
}
.mt10{
    margin-top: 60px;
} 
.mt11{
    margin-top: 70px;
}
.mt12{
    margin-top: 90px;
}
.mt13{
    margin-top: 100px;
}
.mt{
    margin-top:200px;
}
.mx1{
    margin: 0px 5px;
}

.my-{
    margin: 5px 0px;
}
.ml{
    margin-left: 20px;
}
.ml1{
    margin-left: 5px;
}
.ml2{
    margin-left:10px ;
}
.ml3{
    margin-left: 15px;
}
.ml4{ 
    margin-left: 25px;
}
.ml5{
    margin-left: 30px;
}
.ml6{
    margin-left: 40px;
}
.ml7{
    margin-left: 45px;
}
.ml8{
    margin-left: 55px;
}
.ml9{
    margin-left: 65px;
}
.ml10{
    margin-left: 75px;
}
.ml11{
    margin-left: 85px;
}
.ml12{
    margin-left: 100px;
}
.ml13{
    margin-left: 125px;
}
.ml14{
    margin-left: 150px;
}
.ml15{
    margin-left: 175px;
}
.ml16{
    margin-left: 200px;
}
.mr1{
    margin-right: 2px;
}
.mr2{
    margin-right: 5px;
}
.mr3{
    margin-right: 10px;
}
.mr4{
    margin-right: 15px;
}
.mr5{
    margin-right: 20px;
}
.mr6{
    margin-right: 30px;
}
.mr7{
    margin-right: 40px;
}
.mr8{
    margin-right: 50px;
}
.mr9{
    margin-right: 70px;
}
.mr10{
    margin-right: 90px;
}
.mr11{
    margin-right: 110px;
}
.mr12{
    margin-right: 120px ;
}
.mr13{
    margin-right: 140px;
}
.mr14{
    margin-right: 160px;
}
.mr15{
    margin-right: 170px;
}
/* margin classes ended */


/* padding classes start */
.p1{
    padding: 5px;
}
.p2{
    padding: 10px;
}
.p3{
    padding: 15px;
}
.p4{
    padding: 20px;
}
.p5{
    padding: 25px;
}
.pt1{
    padding-top: 5px;
}
.pt2{
    padding-top: 10px;
}
.pt3{
    padding-top: 15px;
}
.pt4{
    padding-top: 20px;
}
.pt5{
    padding-top: 25px;
}

.px1{
    padding: 0px 5px;
}

.py-{
    padding: 5px 0px;
}

/* padding classes ended */


.text-center{
    text-align: center;
}

.border-sm{
    border: 1px solid black;
}

.bg-dark{
    background-color: #000000;
}
.text-white{
    color: #ffffff;
}
.text-red{
    color: #ff0000;
}
.bn{
    border: none;
}
.tn{
    text-decoration: none;
}
.fw{
    font-weight: lighter;
}